@import "defaults";
@import "mixins";

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(41, 129, 128), rgb(183, 110, 255));
  overflow: hidden;

  // start screen
  &__start-screen.active {
    display: flex;
  }

  &__start-screen {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    height: 40rem;
    background: rgba(255, 255, 255, .7);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px #000;

    &__btn {
      border: none;
      background: rgb(250, 192, 192);
      padding: 1rem;
      border-radius: 1.5rem;
      cursor: pointer;
      font-size: 2.5rem;
      transition: transform .15s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // countdown
  &__countdown.active {
    display: flex;
  }

  &__countdown {
    display: none;
    // display: flex;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    
    &__timer {
      text-align: center;
      font-size: 6rem;
      color: #fff;
      text-shadow: 1px 1px 3px #000;
    }
  }

  // game
  &__game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    background: rgba(255, 255, 255, .4);
    width: 100%;
    max-width: 100rem;
    margin: auto;

    // addons
    &__addons.active {
      display: flex;
    }

    &__addons {
      position: absolute;
      display: none;
      justify-content: space-between;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3rem;
      padding: 0 .5rem;

      // timer
      &__timer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 8rem;
        height: 100%;
        
        &__icon {
          flex-basis: 50%;
          display: inline-block;
          font-size: 2rem;
        }

        &__value {
          flex-basis: 50%;
          font-size: 2rem;
          font-weight: bold;
        }
      }

      // score
      &__score {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 6rem;
        height: 100%;
        
        &__icon {
          flex-basis: 50%;
          display: inline-block;
          color: red;
          font-size: 3rem;
          transform: translateY(-.3rem);
        }

        &__value {
          flex-basis: 50%;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
    
    &__hole {
      position: relative;
      justify-self: center;
      align-self: center;
      width: 13rem;
      height: 15rem;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 45%;
        width: 100%;
        height: 3rem;
        transform: translateY(-100%);
        background: brown;
        background: radial-gradient(ellipse at top, rgb(134, 34, 34), rgb(95, 24, 24));
      }
  
      &__svg {
        position: absolute;
        display: block;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        // background: red;

        &__mouse.visible {
          transform: translate(-2.8rem, -4.5rem);
        }

        &__mouse {
          transform: translate(-2.8rem, 11rem);
          transition: transform .15s ease;
        }
      }
    }      
  }
}